nav {
    position: fixed;
    z-index: 9;
    bottom: 0;
    font-size: 2rem;
    background: $pink-color;
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 60px;

    @include breakpoint(sm) {
        top:0;
        bottom: 0;
        left: 0;
        width: $menu-size;
        min-height: 100%;
        padding-top: 150px;
    }

    a {
        color: $white-color;
        height: 60px;
        line-height: 60px;
        text-transform: uppercase;
        font-size: $fonts-md;

        &:before {
            color: $white-color;
            margin-right: $menu-size /12 !important;
            font-size: $fonts-xl;
        }

        &:hover, &:active {
            opacity: 0.9;
        }

        @include breakpoint(sm) {
            text-align: left;
            padding-left: $menu-size /9 !important;
        }
    }

    .icon-facebook {
        background: $blue-color;
        font-family: $font-ebony;
        font-size: 0.9rem;
        position: relative;

        span {
            top: 0px;
            position: absolute;
            display: inline-block;
        }
         &:before {
            vertical-align: top;
            margin-top: 4px;
            line-height: 50px;
            font-size: 2.1rem;
         }
    }

    .icon-home2.active {
        @extend .icon-home;
    }
    .icon-search2.active {
        @extend .icon-search;
    }
    .icon-user.active {
        @extend .icon-user2;
    }
    .icon-rank_off.active {
        @extend .icon-rank_on;
    }
}
