.person {
    .btn {
        line-height: 60px;
    }

    .btn-logout {
        padding: 10px;
        font-size: $fonts-sm;
        font-weight: normal;
        margin-bottom: 100px;
    }

    .icon-arrow-back {
        &:before {
            margin: 12px 0 0 24px;
        }
    }

    .judgments-header {
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .list-judgments {
        margin-bottom: 90px;

        @include breakpoint(sm) {
            width: 80%;
        }

        .user-image {
            float: left;
            width: 36px;
            height: 36px;
            border-width: 1px;
            margin-right: 20px;
            &.hell {
                &:before {
                    padding: 32px;
                    margin: -10px 0 0 -16px;
                    z-index: 1;
                }
            }
            &.heaven {
                &:before {
                    padding: 38px;
                    margin: -13px 0 0 -21px;
                    z-index: 1;
                }
            }
        }

        h1 {
            font-size: 1.2rem;
            a {
                color: #333;
            }
        }
        time {
            float: right;
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

        li {
            margin-bottom: 2px;
            background: $gray-2;
            padding: 20px;
        }
        p {
            font-family: "Sans-Serif,Arial";
            line-height: 1.1rem;
            white-space: pre-line;
            font-size: 1rem;
        }
        .stars {
            margin: 4px 0 10px;
            color: #ccc;
            font-size: 1.2rem;
        }

        .stars1 {
            .star0 {
                color: #ffd700
            }
        }

        .stars2 {
            .star0, .star1 {
                color: #ffd700
            }
        }

        .stars3 {
            .star0, .star1, .star2 {
                color: #ffd700
            }
        }

        .stars4 {
            .star0, .star1, .star2, .star3 {
                color: #ffd700
            }
        }

        .stars5 {
            .star0, .star1, .star2, .star3, .star4 {
                color: #ffd700
            }
        }

    }
}
