<app-header></app-header>

<div class="container-fluid person">

    <app-person-profile></app-person-profile>

    <div class="row">
        <ul class="list-items">
            <li ng-repeat="(key, quality) in ctrl.person.qualities">
                <div class="col-xs-6 text-right">
                    <span translate="{{quality.name|uppercase}}"></span>
                    <div class="qualities-icon">
                        <img ng-src="{{quality.img}}"/>
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-2 font-lg score">
                    {{quality.score}}
                </div>
            </li>
        </ul>

        <h1 class="judgments-header" translate="JUDGMENTS"></h1>
        <ul class="list-judgments">
            <li data-ng-repeat="judgment in ctrl.judgments">
                <h1 class="judge-name">{{judgment.judge}} <time datetime="{{judgment.created}}">{{judgment.created|timeago}}</time></h1> 
                <div class="stars stars{{judgment.score | score}}">
                    <span class="star0"></span>
                    <span class="star1"></span>
                    <span class="star2"></span>
                    <span class="star3"></span>
                    <span class="star4"></span>
                </div>
                <p data-ng-if="judgment.why" data-ng-bind="judgment.why"></p>
                 
            </li>
        </ul>
    </div>

    <nav class="row">
        <a ui-sref="home"
           class="col-xs-4 col-sm-12 icon-arrow-back" translate="BACK"></a>
        <a ui-sref="judge({slug:ctrl.person.slug})"
           class="col-xs-8 col-sm-12 btn icon-judges" translate="JUDGE_NOW">
        </a>
    </nav>

</div>
