<header>
    <div class="logo">
        <span class="icon-logo"></span>
        <span class="icon-logo"></span>		
    </div>
    <h1>
        Heaven <span>&amp; Hell</span>
    </h1>
</header>

<!-- <input type="text" ng-model="nameFilter" placeholder="Search..."/> -->

<div id="user-list">
    <ul>
        <li ng-repeat="users in usersList | filter: searchFilter">
            <a href="#/user/{{users.id}}">
                <div class="user-image">
                    <img ng-src="{{users.image}}" alt="{{users.name}}" />
                </div>
                <h2>
                    {{users.name}} /{{users.score}}
                </h2>
            </a>
        </li>
    </ul>
</div>
