<div class="container-fluid">
    <nav ng-hide="mainMenu" class="row">
        <a ui-sref="home"
           class="col-xs-3 col-sm-12 icon-home2"
           data-ng-class="ctrl.isActive('home')">
            <span translate="HOME" class="hidden-xs"></span>
        </a>
        <a ui-sref="search"
           class="col-xs-3 col-sm-12 icon-search2"
           data-ng-class="ctrl.isActive('search')">
            <span translate="SEARCH" class="hidden-xs"></span>
        </a>
        <a ui-sref="rank({rank:'purgatory'})"
           class="col-xs-3 col-sm-12 icon-rank_off"
           data-ng-class="ctrl.isActive('rank-menu,rank')">
            <span translate="RANK" class="hidden-xs"></span>
        </a>
        <a ui-sref="me"
           class="col-xs-3 col-sm-12 icon-user"
           data-ng-class="ctrl.isActive('me')"
           data-ng-show="$root.logged">
            <span translate="ME" class="hidden-xs"></span>
        </a>
        <a href="/" data-ng-click="ctrl.facebookLogin()"
           class="col-xs-3 col-sm-12 icon-facebook"
           data-ng-show="!$root.logged">FACEBOOK</a>
    </nav>
</div>
