<input type="text" ng-model="searchFilter" placeholder="Search..."/>

<div id="user-list">
    <ul>
        <li ng-repeat="users in friendsList | filter: searchFilter">
            <a data-href="#/friend/{{users.id}}" ng-click="getFriendInfo(users.id)">
                <div class="user-image">
                    <img lazy-img="{{users.picture.data.url}}">
                </div>
                <h2>
                    {{users.name}}
                </h2>
            </a>
        </li>
    </ul>
</div>