<div class="container-fluid">

    <div ng-include="login"></div>

    <section ng-class="blur">

        <div ng-include="'./js/partials/user.html'"></div>

        <div class="row">        
            <ul class="judge-list">
                <li ng-repeat="q in qualities">
                    <label class="col-xs-12">{{q.name}}</label>
                    <div class="col-xs-3">
                        <span ng-show="focus" class="judge-value">
                            {{qualities[$index].score}}
                        </span>
                        <span class="icon-logo test-click" ng-class="q.name | lowercase"></span>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                        <input ng-focus="focus=true" ng-blur="focus=false"  type="range" name="{{q.id}}" min="0" max="4" ng-model="qualities[$index].score" ng-init="qualities[$index].score=2">
                    </div>
                </li>
            </ul>
        </div>

        <span>{{formData | json}}</span>

        <nav class="row">
            <a href="./#/user/{{user.id}}" class="col-xs-4 icon-close"></a>
            <a ng-click="sendForm(q)" class="col-xs-8 judge">SUBMIT</a>
        </nav>

    </section>

</div>