<div class="container-fluid">

    <div ng-include="popup" class="popup"></div>

    <section ng-class="blur">

        <div ng-include="'./js/partials/person.html'"></div>

        <div class="row">        
            <ul class="judge-list">
                <li ng-repeat="q in qualities">
                    <label class="col-xs-12">{{q.name}}</label>
                    <div class="col-xs-3">
                        <span ng-show="focus" class="judge-value">
                            {{qualities[$index].score}}
                        </span>
                        <span class="icons-qualities">
                            <img ng-src="{{q.img}}" />
                        </span>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                        <input ng-focus="focus=true" ng-blur="focus=false"  type="range" name="{{q.id}}" min="0" max="4" ng-model="qualities[$index].score" ng-init="qualities[$index].score=2">
                    </div>
                </li>
                <li>
                </li>
            </ul>
            <textarea name="why" ng-model="why"></textarea>
        </div>

        <nav class="row">
            <a href="./#/person/{{person.id}}" class="col-xs-4 icon-close"></a>
            <a ng-click="sendForm(q)" class="col-xs-8 btn">SUBMIT</a>
        </nav>

    </section>

</div>
