<div ng-include="login"></div>

<section ng-class="blur">
    <div ng-include="'./js/partials/user.html'"></div>

    <li ng-repeat="q in qualities"> 
        {{q.name}}
        <input type="range" name="{{q.id}}" min="0" max="4" ng-model="qualities[$index].score" ng-init="qualities[$index].score=2">
        <span>{{qualities[$index].score}}</span>
    </li>

    <span>{{formData | json}}</span>

    <input type="range" name="test">2</input>

    <div class="container-fluid">
        <nav class="row">
            <a href="./#/user/{{user.id}}" class="col-xs-4 icon-close"></a>
            <a ng-click="sendForm(q)" class="col-xs-8 judge">SUBMIT</a>
        </nav>
    </div>

</section>
