{
  "rules": {
    // enable additional rules
    "indent": [
      "error",
      4
    ],
    "wrap-iife" : [
      "error",
      "any"
    ],
    "no-return-assign" : [
      "error",
      "except-parens"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-cond-assign": [
      "error",
      "always"
    ],
    // disable rules from base configurations
    "no-console": "off"
  }
}
