<div class="container-fluid">
    <nav ng-hide="mainMenu" class="row">
        <a href="/"
           class="col-xs-3 icon-home2"
           data-ng-class="ctrl.isActive('home')"></a>
        <a href="./#/search"
           class="col-xs-3 icon-search2"
           data-ng-class="ctrl.isActive('search')"></a>
        <a href="./#/"
           class="col-xs-3 icon-judges"
           data-ng-show="ctrl.logged"></a>
        <a href="./#/me"
           class="col-xs-3 icon-user"
           data-ng-class="ctrl.isActive('me')"
           data-ng-show="ctrl.logged"></a>
        <a href="/" data-ng-click="ctrl.facebookLogin()"
           class="col-xs-6 icon-facebook"
           data-ng-show="!ctrl.logged">FACEBOOK</a>
    </nav>
</div>
