#user-list {
    padding: 20px 0 100px;
    text-align: center;

    ul {
        margin: auto;
        width: 90%;
    }

    li {
        text-align: center;
        display: inline-block;
        width: 50%;
        margin-bottom: 34px;

        @include breakpoint(sm) {
            width: 33.3%;
        }
        @include breakpoint(md) {
            width: 25%;
        }

        a {
            font-size: .9rem;
            color: $gray-3;

            h2 {
                margin-top: 10px;
            }
        }
    }

    .user-image {
        margin: auto;
    }
    // Search
    &.search {
        @include breakpoint(sm) {
            padding-top: 130px;
        }
    }
}

.userSearch {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    background: $blue-color-90;
    padding: 20px 0;

    @include breakpoint(sm) {
        top: 113px;
        padding-left: 240px;
        bottom: initial;
    }

    input {
        padding: 3px 0;
        width: 100%;
    }

    .btn {
        background: none;
        margin: -7px 0 0 -18px;
        display: block;
    }
}