.home {

    .title * {
        font-size: $fonts-sm;
        display: block;
        text-transform: uppercase;
        margin: 14px 0;
        @include breakpoint_max(sm) {
            text-align: center;
        }
    }
}

.user-list {
    padding-top: 20px;
    text-align: center;

    ul {
        margin: auto;
        width: 100%;
        @include breakpoint(md) {
            width: 90%;
        }
    }

    li {
        text-align: center;
        display: inline-block;
        width: 40%;
        margin: 0 5% 34px;

        @include breakpoint(sm) {
            width: 33.3%;
            margin: 0 0 34px;
        }
        @include breakpoint(md) {
            width: 25%;
        }

        a {
            font-size: .9rem;
            color: $gray-3;

            h2 {
                margin-top: 10px;
            }
        }
    }

    .user-image {
        margin: auto;
    }
    // Search
    &.search {
        @include breakpoint(sm) {
            padding-top: 130px;
        }
    }

    .stars {
        color: #ccc;
        font-size: 1.2rem;
    }

    .stars0 {
        .star0 {
            color: #ffd700
        }
    }

    .stars1 {
        .star0, .star1 {
            color: #ffd700
        }
    }

    .stars2 {
        .star0, .star1, .star2 {
            color: #ffd700
        }
    }

    .stars3 {
        .star0, .star1, .star2, .star3 {
            color: #ffd700
        }
    }

    .stars4 {
        .star0, .star1, .star2, .star3, .star4 {
            color: #ffd700
        }
    }
}

.userSearch {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    background: $blue-color-90;
    padding: 20px 0;

    @include breakpoint(sm) {
        top: 113px;
        padding-left: 240px;
        bottom: initial;
    }

    input {
        padding: 3px 0;
        width: 100%;
    }

    .btn {
        background: none;
        margin: -7px 0 0 -18px;
        display: block;
    }
}

.top-10 {

    @include breakpoint_max(sm) {

        li {
            position: relative;
            width: 100%;
            margin: 0 0 16px 0;
            padding-bottom: 14px;
            border-bottom: 1px solid $gray-4;
        }

        .user-image {
            float: left;
            width: 36px;
            height: 36px;
            margin-right: 14px;
            margin-left: 10px;
            &.hell {
                &:before {
                    background-size: 64%;
                    margin: -12px 0 0 -22px;
                }
            }
            &.heaven {
                &:before {
                    background-size: 68%;
                    padding: 57px;
                    margin: -13px 0 0 -22px;
                }
            }
        }
        h2 {
            float: left;
            margin: 0 !important;
        }
        span {
            float: left;
        }
        .stars {
            float: right;
            transform: scale(.9);

            + span {
                transform: scale(.8);
                left: 64px;
                top: 18px;
                position: absolute;
            }
        }
    }
}

.last-item {
    padding-bottom: 100px;
}

.list-secondary {
    @extend .top-10;

    .user-image {
        width: 42px;
        height: 42px;
    }

    li {
        width: 46%;
        margin: 10px 2%;

        h2 {
            max-width: 50%;
            text-align: left;
        }
    }
    .stars {
        float: left;
        margin-top: 10px;

        + span {
            left: auto;
            right: 2px;
            top: 56px;
        }
    }

}