nav {
    position: fixed;
    width: 100%;
    list-style: none;
    z-index: 10;
    bottom: 0;
    font-size: 2rem;


    div {
        padding: 16px 0;
        float: left;
        width: 50%;

        &:first-child {
            background: $pink-color;
        }
        &:last-child {
            background: $blue-color;

            li {
                width: auto;
            }
        }
    }

    li{
        width: 50%;
        float: left;
        text-align: center;

        a {
            color: $white-color;
            span {
                display: none;
            }
            &:before {
                color: $white-color;
            }
        }
    }

    .icon-facebook {
        font-family: $font-ebony;
        font-size: 1.4rem;
        position: relative;
        margin: 0 0 2px 10px;

        span {
            top: 0px;
            position: absolute;
            display: inline-block;
        }
         &:before {
            font-size: 1.8rem;
         }
    }

}