nav {
    position: fixed;
    z-index: 10;
    bottom: 0;
    font-size: 2rem;
    background: $pink-color;
    width: 100%;
    text-align: center;


    a {
        color: $white-color;
        height: 60px;
        line-height: 60px;

        &:before {
            color: $white-color;
        }
    }

    .icon-facebook {
        background: $blue-color;
        font-family: $font-ebony;
        font-size: 1.3rem;
        position: relative;

        span {
            top: 0px;
            position: absolute;
            display: inline-block;
        }
         &:before {
            font-size: 1.8rem;
         }
    }

}