$fonts-xs: 0.8rem;
$fonts-sm: 1rem;
$fonts-md: 1.2rem;
$fonts-lg: 1.6rem;
$fonts-xl: 2rem;

$white-color: #fff;
$pink-color: #f71e44;
$blue-color: #4294d9;

$gray-0: #ededed;
$gray-1: #ededed;
$gray-2: #e1e1e1;
$gray-3: #5f5f5f;

$font-ebony: 'Ebony-bold', Sans-Serif, Arial;


.font-xl {
	font-size: $fonts-xl;
}
.font-lg {
	font-size: $fonts-lg;
}
.font-md {
	font-size: $fonts-md;
}
.font-sm {
	font-size: $fonts-sm;
}
.font-xs {
	font-size: $fonts-xs;
}
