@import     "../../node_modules/reset.scss/reset",
            // "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap",
            "../../node_modules/bootstrap/scss/mixins",
            "../../node_modules/bootstrap/scss/variables",
            "../../node_modules/bootstrap/scss/grid",
            "../../node_modules/bootstrap/scss/buttons",
            "../../node_modules/bootstrap/scss/utilities",
            "../../node_modules/bootstrap/scss/type",
            "variables",
            "base",
            "icon-fonts",
            "home",
            "nav",
            "user",
            "judge";

@font-face {
    font-family: 'Ebony-bold';
    src: url('../fonts/ebony.eot');
    src: local('☺'), url('../fonts/ebony.woff') format('woff'), url('../fonts/ebony.ttf') format('truetype'), url('../fonts/ebony.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
