html {
    font-size: 1rem;
}
body {
	overflow-x: hidden;
}

*, a, button {
	font-family: $font;
}

a {
	text-decoration: none;
}

h2 {
	font-size: $fonts-md;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.text-center {
    text-align: center;
}

.btn {
    background: $blue-color;
    cursor: pointer;
    font-size: $fonts-md;
    border-radius: 0;
    line-height: 2.8rem;
    color: $white-color;
}


.blur {
    * {
        pointer-events: none;
    }
    z-index: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    position: fixed;
}

.popup {
    position: fixed;
    padding: 20px 0;
    z-index: 10;
    bottom: 0;
    top: 110px;
    left: 0;
    right: 0;
    background: $white-color-90;
    @include breakpoint(sm) {
        padding-left: $menu-size;
    }
}

.loading {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $blue-color-90;
    z-index: 110;
}



// Make icon-fonts smooth
[class^="icon-"]:before, [class*=" icon-"]:before {

    //  Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Reset the automatic generated Fontello CSS
    margin-left: 0;
    width: auto;
}


.container-fluid {
    @include breakpoint(sm) {
        padding-left: $menu-size + 40;
        margin-top: 140px;
        max-width: 1024px;
        width: 100%;
        float: left;
    }
}
