<div class="container-fluid judge">

    <div ng-include="popup" class="popup"></div>

    <section ng-class="blur">

        <app-person-profile></app-person-profile>

        <div class="row">
            <ul class="judge-list">
                <li ng-repeat="quality in ctrl.qualities">
                    <label class="col-xs-12">{{quality.name}}</label>
                    <div class="col-xs-3">
                        <span ng-show="focus" class="judge-value">
                            {{ctrl.qualities[$index].score}}
                        </span>
                        <span class="icons-qualities">
                            <img ng-src="{{quality.img}}"/>
                        </span>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                        <input ng-focus="focus = true"
                               ng-blur="focus = false"
                               type="range"
                               min="0"
                               max="4"
                               ng-model="ctrl.qualities[$index].score"
                               ng-init="ctrl.qualities[$index].score = 2">
                    </div>
                </li>
            </ul>
            <div class="col-xs-12 why">
                <h3>Why?</h3>
                <textarea name="why" ng-model="ctrl.why" rows="4"></textarea>
            </div>
        </div>

        <nav class="row">
            <a ui-sref="person({id:ctrl.person.id})"
               class="col-xs-4 icon-close"></a>
            <a ng-click="ctrl.submitForm()"
               class="col-xs-8 btn">SUBMIT</a>
        </nav>

    </section>

</div>
