<app-header></app-header>

<div class="container-fluid judge">

    <!--<app-judge-sent data-ng-show="ctrl.judgeSent"-->
    <!--score="{{ctrl.personData}}"-->
    <!--class="popup"></app-judge-sent>-->
    <!---->
    <!---->
    <!--ng-if="ctrl.isLoading"-->
    <div class="loading" data-ng-show="ctrl.isLoading">
        <span class="icon-spin3 animate-spin"></span>
    </div>

    <div data-ng-show="ctrl.judgeSent" class="popup">
        <div class="text-center row sent-judge">
            <div class="col-xs-12 text-center">
                <app-person-profile></app-person-profile>
                <h1 translate="NEW_SCORE"></h1>
                <h2 class="font-xxl" data-ng-bind="ctrl.personScoreTest"></h2>
            </div>
        </div>

        <nav>
            <a ui-sref="home" translate="DONE" class="col-xs-12 col-sm-12 btn icon-logo"></a>
        </nav>

    </div>


    <section data-ng-class="ctrl.blur">

        <app-person-profile></app-person-profile>

        <div class="row">
            <ul class="judge-list">
                <li data-ng-repeat="quality in ctrl.qualities">
                    <label class="col-xs-12" translate="{{quality.name|uppercase}}"></label>
                    <div class="col-xs-3">
                        <span data-ng-show="focus" class="judge-value">
                            {{ctrl.qualities[$index].score}}
                        </span>
                        <span class="icons-qualities">
                            <img data-ng-src="{{quality.img}}"/>
                        </span>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                        <input data-ng-focus="focus = true"
                               data-ng-blur="focus = false"
                               type="range"
                               min="0"
                               max="4"
                               data-ng-model="ctrl.qualities[$index].score"
                               data-ng-init="ctrl.qualities[$index].score = 2">
                    </div>
                </li>
            </ul>
            <div class="col-xs-12 why">
                <h3 translate="WHY"></h3>
                <textarea name="why" data-ng-model="ctrl.why" rows="4"></textarea>
            </div>
        </div>


        <nav class="row">
            <a ui-sref="person({id:ctrl.getPersonId()})"
               class="col-xs-4 col-sm-12 icon-close" translate="CANCEL"></a>
            <a data-ng-click="ctrl.submitForm()"
               class="col-xs-8 col-sm-12 btn icon-forward" translate="SUBMIT"></a>
        </nav>

    </section>

</div>
