<app-header></app-header>

<div class="container-fluid">
    <div id="user-list">
        <ul>
            <li data-ng-repeat="person in ctrl.people | filter : userSearch">
                <a ui-sref="person({id:person.id})">
                    <div class="user-image {{person.status}}">
                        <img data-ng-src="{{person.img}}" alt="{{person.name}}"/>
                    </div>
                    <h2 class="font-xs" data-ng-bind="person.name"></h2>
                    <span data-ng-bind="person.score"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="userSearch row" data-ng-if="ctrl.isSearchOpen">
        <div class="col-xs-9 col-xs-offset-1">
            <input type="text" data-ng-model="userSearch">
        </div>
        <div class="col-xs-1">
            <a href="/"
               class="icon-close btn"></a>
        </div>
    </div>
</div>
<app-menu class="home"></app-menu>

