<div class="login" ng-controller="FacebookController">
    <h1>To continue your
    review about Renatex...
    </h1>

    <h2>
        Use Facebook, play with your friends and see your ranking!
    </h2>
    
    <div>
        <img src="{{return.picture.data.url}}">
        <img src="{{return.cover.source}}" width="100px">
        {{return.email}}
        {{return.last_name}}
        {{return.age_range.min}}
        {{return.currency.user_currency}}
        {{return.gender}}
    </div>

    <button type="button" class="" ng-show="!logged" ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
    
    <button type="button" class="" ng-show="logged" ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

    <button ng-click="userData(['email', 'cover','name','picture', 'last_name', 'age_range', 'currency', 'gender', 'verified'])">load My Info</button>


    <a href="" ng-click="cancel()">cancel</a>

</div>